<% if logged_in? %>
  <div>
    <%= link_to link_up, method: 'post', remote: true, class: 'btn btn-mini' do %>
      <i class="icon-chevron-up"></i>
    <% end %>
  </div>
<% end %>
<div id="<%= "#{obj.class}_#{obj.id}_votes" %>">
  <%= pluralize(count_votes(obj.votes), 'vote') %>
</div>

<% if logged_in? %>
  <div>
    <%= link_to link_down, method: 'post', remote: true, class: 'btn btn-mini' do %>
      <i class="icon-chevron-down"></i>
    <% end %>
  </div>
<% end %>