<ul class="breadcrumb">
  <li>
    <%= link_to "All posts", posts_path %>
    <span class="divider">&gt;</span>
  </li>
  <li class="active"><%= render @category %></li>
</ul>

<% @category.posts.each do |post| %>
  <%= render 'posts/post_block', post: post %>
<% end %>
