<ul class="breadcrumb">
  <li>
    <%= link_to "All posts", posts_path %>
    <span class="divider">&gt;</span>
  </li>
  <li class="active"><%= @category.name %></li>
</ul>

<%= render @category.posts %>